{%extends 'all-neighbourhoodapp/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
    {{block.super}}
    <div class="main">
        <div class="nei">
         <div class="ne">
           <h1 style="font-family: 'Henny Penny', cursive; font-weight:bold; font-size: 70px;"> Neighbourhood Watch</h1>
       </div>
       </div>
   </div>
   <hr>

   <div class="col-xs-12 col-sm-4">     
    <div class="panel panel-default">
        <div class="panel-heading">
            Nai
        </div>
        <div class="panel-body">
                <p>Welcome</p>
            <a href="" class="btn btn-primary btn-sm">Check Neighbourhood</a>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-4">     
    <div class="panel panel-default">
        <div class="panel-heading">
            Nai
        </div>
        <div class="panel-body">
                <p>Welcome</p>
            <a href="" class="btn btn-primary btn-sm">Check Neighbourhood</a>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-4">     
    <div class="panel panel-default">
        <div class="panel-heading">
            Nai
        </div>
        <div class="panel-body">
                <p>Welcome</p>
            <a href="" class="btn btn-primary btn-sm">Check Neighbourhood</a>
        </div>
    </div>
</div>
<br>
<div class="col-xs-12 col-sm-4">     
    <div class="panel panel-default">
        <div class="panel-heading">
            Nai
        </div>
        <div class="panel-body">
                <p>Welcome</p>
            <a href="" class="btn btn-primary btn-sm">Check Neighbourhood</a>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-4">     
    <div class="panel panel-default">
        <div class="panel-heading">
            Nai
        </div>
        <div class="panel-body">
                <p>Welcome</p>
            <a href="" class="btn btn-primary btn-sm">Check Neighbourhood</a>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-4">     
    <div class="panel panel-default">
        <div class="panel-heading">
            Nai
        </div>
        <div class="panel-body">
                <p>Welcome</p>
            <a href="" class="btn btn-primary btn-sm">Check Neighbourhood</a>
        </div>
    </div>
</div>
    {% endblock %}
    
</body>
</html>