{%extends 'all-neighbourhoodapp/base.html'%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
    {{block.super}}
     {% load bootstrap4 %}



    {% load static %}

   {% block styles %}
    {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}

<div class="container-fluid">
  <img class="my-class" src="https://res.cloudinary.com/dfjpf16e3/image/upload/v1585306771/nll9ruwyvhniu1ooxuyb.jpg" height="auto" width="100%">

    <div style="background-color:rgb(255, 255, 255)">
    <h1 style="font-family: 'Philosopher', sans-serif;">Don't be left behind in your Hood</h1>
    <br>
    <h3 style="font-family: 'Philosopher', sans-serif;">here you get all the Notifications about anything happening around you</h3>
    <br>
    <h2 style="font-family: 'Kaushan Script', cursive; color: red;">SecureHood, Spread the news</h2>

    <h3 style="font-family: 'Philosopher', sans-serif;">Join and experience the fun, joy and much more in your Hood</h3>
    </div>



        <div class="card-columns">
   {% for nei in nei %}



<div class="card  ">
  <div class="card-body">
    <h4 class="card-title">  {{nei.name}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{nei.location}}</h6>
            <h5 class="badge badge-warning">{{nei.occupants}} Occupants</h5>
    <p class="card-text">Welcome to this neighbourhood</p>

  <a href="/updates/{{nei.id}}" class="card-link"><button class="btn btn-success">Join the neighbourhood</button></a>
  </div>
</div>
                  {% endfor %}

        </div>








</div>


{% endblock %}

</body>
</html>