{% include 'navbar2.html' %}
{% block content %}


{% load bootstrap4 %} {% load static %}


{% block styles %} {% bootstrap_css %}
{% endblock %}

<a href="{% url 'comment' hood.id %}"><button>Write an update</button></a>
<br>
<h1>Updates</h1>
<div class="row">
   {% for update in updates%}
        {{update.updates}} {% endfor %}


</div>




   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

{% endblock %}

