h1
{
  color: green;
}

body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: transparent;
  color: greenyellow;
}

.main {
    padding: 16px;
    margin-top: 30px;
  }

  .nei {
      background-image: url("https://www.pngkey.com/png/full/892-8920090_neighbourhood-small-grants.png");
      background-size: cover;
      text-align: center;
      padding: 2px;
  }

  .ne {
    text-align: center;
    padding: 60px;
    color: aliceblue;
    width: 70%;
    margin-left: 170px;
    margin-top: 30px;
    margin-bottom: 100px;

  }

