h1
{
  color: green;
}

body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: rgb(1, 14, 80);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: transparent;
  color: greenyellow;
}

.main {
    padding: 16px;
    margin-top: 30px;
  }

  .nei {
      background-image: url("https://www.pngkey.com/png/full/892-8920090_neighbourhood-small-grants.png");
      background-size: cover;
      text-align: center;
      padding: 2px;
  }

  .ne {
    text-align: center;
    padding: 60px;
    color: aliceblue;
    width: 70%;
    margin-left: 170px;
    margin-top: 30px;
    margin-bottom: 100px;

  }

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 30%;
    margin: auto;
  }

  .panel-heading {
    background-color: black;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: rgb(0, 18, 136);
    color: rgb(0, 250, 29);
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 50%;
  padding: 10px;
  height: 400px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  padding-top: 40px;
  padding: 20px;
  text-align: center;
  background: #ddd;
}